/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 23, 2014, 6:20:21 PM
    Author     : Pedro
*/
a {
    text-decoration: none;
}

html { 
    height: 100% 
}

body { 
    height: 100%; 
    margin: 0; 
    padding: 0; 
    font-family: 'Open Sans', sans-serif;
}

select {
    background-color: white;
}

/**
    Index
**/

#welcome_top{
    width: 100%; 
    height: 100%;
    background-color: #5C84DA;
}

#welcome_top_div{
    width: 100%; 
    height: 20%;
}

#welcome_top_div_img{
    width: 100%; 
    height: 80%;
}

#welcome_top img{
    display:block;
    width: auto;
    max-width:100%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
}

/**
    Map
**/

#map_canvas { 
    height: 100%; 
}

/**
    Menu
**/

#menu {
    position: absolute;
    width: 90%;
    height: auto;   
    margin-top: 1em;
    margin-right: 5%;
    margin-left: 5%;
    z-index: 5;
    background-color: #5C84DA;   
    border-radius: 5px;
}

#menu_button{
    white-space: nowrap;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.menu_button{
    white-space: normal;
    position: relative;
    height: auto;
}

#btShareCrime{
    margin-left: 0%;
    margin-right: 0%;
    width:30%;
}

#btHeatMap{
    margin-left: 5%;
    margin-right: 0%;
    width:30%;
}

#btRoute{
    margin-left: 5%;
    margin-right: 0%;
    width:30%;
}

/** 
    Bar
**/

#bar {
    position: absolute;
    width: 100%;
    height: 2em;
    margin-left: 0%;
    margin-right: 0%;
    bottom: 0%;
    z-index: 5;
    background-color: rgba(92, 132, 218, 1.0);
}

#range{
    position: relative;
    -webkit-appearance: none;
    height: 30%;
    width: 80%;
    margin-left: 10%;
    top: 20%;
    z-index: 6;
    background: -webkit-linear-gradient(left, lightgreen, green, orange, red);
    background: linear-gradient(to right, lightgreen, green, orange, red);
    border-radius: 10px;
}

#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0.4em;
    height: 1.5em;
    background-color: white;
}

#crime_content {
    width: 100%;
    height: 100%;
    color: #5C84DA;
}

/**
    Crime Modal
**/

#crime_modal_div{
    position: absolute;
    width: 90%;
    height: auto;
    left: 5%;
    top: 25%;
    background-color: #5C84DA;
    border-radius: 5px;
    z-index: 11;
}

#crime_modal_message{
    position: relative;
    text-align: justify;
    color: white;
    margin-top: 1em;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#crime_modal_select{
    position: relative;
    margin-top: 1em;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#crime_modal_description{
    height:3em;
    width: 100%;
}    

#crime_modal_day{
    position: relative;
    height: 3em;
    margin-top: 1em;
    width: 30%;
}

#crime_modal_month{
    position: relative;
    height: 3em;
    margin-top: 1em;
    width: 30%;
    margin-left: 5%;
}

#crime_modal_year{
    position: relative;
    height: 3em;
    margin-top: 1em;
    width: 30%;
    margin-left: 5%;
}

#crime_modal_period{
    width: 100%;
    position: relative;
    margin-top: 1em;
    height:3em;
}

#crime_modal_button{
    position: relative;
    margin-top: 1em;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1em;
}

#crime_modal_ok{
    position: relative;
    width: 47.5%;
    height: 3em;
}

#crime_modal_cancel{
    position: relative;
    width: 47.5%;
    height: 3em;
    left: 5%;
}

/**
    Perfil Modal
**/

#perfil_modal_container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #5C84DA;
    z-index: 11;
}

#perfil_modal_first_text{
    position: relative;
    text-align: justify;
    text-justify: inter-word;
    width: 80%;
    left: 10%;
    top: 5%;
    z-index: 11;
}

#perfil_modal_first_text span{
    position: relative;
    color: white;
}

#perfil_modal_options{
    position: relative;
    width: 100%;
    top: 7%;
    z-index: 11;
}

#perfil_modal_options select{
    position: relative;
    width: 80%;
    height: 3em;
    left: 10%;
    margin-top: 1em;
}

#perfil_modal_options button{
    position: relative;
    width: 39%;
    height: 3em;
    left: 10%;
    margin-right: 2%;
    margin-top: 1em;
}

#perfil_modal_second_text{
    position: relative;
    text-align: justify;
    text-justify: inter-word;
    width: 80%;
    left: 10%;
    top: 12%;
    z-index: 11;
}

#perfil_modal_second_text span{
    position: relative;
    color: white;
}

/**
    Route
**/

#route_modal_div{
    position: absolute;
    width: 90%;
    height: auto;
    left: 5%;
    top: 25%;
    background-color: #5C84DA;
    border-radius: 5px;
    z-index: 11;
}

#route_modal_message{
    position: relative;
    text-align: justify;
    color: white;
    margin-top: 1em;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#route_modal_input{
    position: relative;
    margin-top: 1em;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#route_input{
    position: relative;
    width: 70%;
    height: 3em;
}

#route_modal_choose{
    position: relative;
    float:right;
    width: 25%;
    height: 3em;
}

#route_modal_button{
    position: relative;
    margin-top: 1em;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1em;
}

#route_modal_ok{
    position: relative;
    width: 47.5%;
    height: 3em;
}

#route_modal_cancel{
    position: relative;
    width: 47.5%;
    height: 3em;
    left: 5%;
}

/**
    Information
**/

#information_modal_div{
    position: absolute;
    width: 90%;
    height: auto;
    left: 5%;
    top: 25%;
    background-color: #5C84DA;
    border-radius: 5px;
    z-index: 11;
}

#information_modal_message{
    position: relative;
    text-align: justify;
    color: white;
    margin-top: 1em;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#information_modal_button{
    position: relative;
    margin-top: 1em;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 1em;
}

#information_ok{
    position: relative;
    width: 100%;
    height: 3em;
    left: 0%;
}

/**
    Classes 
**/

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}

.round_border{
    border: none;
    border-radius: 5px;
    background-color:white; 
}